# فایل تنظیمات محیطی ربات
# توکن ربات خود را اینجا قرار دهید:
BOT_TOKEN=8900306876:AAF1fSjEpRTtLBy7l77ji_K3QcsBhphZRYU

# مسیر پوشه موقت (همان مسیری که روی سرور در نظر دارید)
TEMP_DIR=/var/www/html/ahmad/bot2/temp

# آدرس سرور لوکال تلگرام (معمولا همین است مگر اینکه پورت را تغییر داده باشید)
LOCAL_API_URL=http://127.0.0.1:8081/bot
LOCAL_API_FILE_URL=http://127.0.0.1:8081/file/bot
