[Unit]
Description=Telegram Video Converter Bot
After=network.target

[Service]
User=root
# اگر می‌خواهید با کاربر دیگری اجرا شود، root را تغییر دهید. مثال: ahmad
WorkingDirectory=/var/www/html/ahmad/bot2
Environment="PATH=/var/www/html/ahmad/bot2/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/var/www/html/ahmad/bot2/venv/bin/python /var/www/html/ahmad/bot2/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
